
<app-slider></app-slider>

<h2>Der Turn- und Sportverein Embsen e.V. möchte sich vorstellen.</h2>


<div id="sporthalle">
  <img src="assets/Sporthalle%20Embsen.jpg" width="630" height="500" class="responsive" >
</div>



<div class="mainContainer">

  <div class="centerDiv">

    Wir sind ein Verein mit ca. 500 Mitgliedern in dem Ortsteil Embsen der Stadt Achim.
    Wir liegen zentral zwischen den beiden Autobahnabfahrten der A 27 Achim-Nord und der A1 Oyten.
    <br>
    <br>
    Sport, Fitness, Gesundheit und Spaß sind unser Anliegen. Körperliche Bewegung, Ausdauer und Kraft sind gerade in unserer modernen Leistungsgesellschaft ein wichtiger Faktor.
    <br>
    <br>
    Mit unserer Internetpräsenz möchten wir Ihnen die verschiedenen Sportarten, die bei uns ausgeübt werden, vorstellen.
    <br>
    <br>
    Die <a routerLink="/handball">Handballabteilung</a> nimmt am Punktspielbetrieb im Kreis Verden mit verschiedenen Mannschaften teil.
    <br>
    <br>
    Auch die <a routerLink="/tischtennis/allgemein">Tischtennisabteilung</a> ist im Punktspielbetrieb des Kreises bzw. Bezirks eingebunden.
    <br>
    <br>
    Zudem haben wir eine <a routerLink="/handball">Volleyball-Freizeitgruppe</a>. Oberste Priorität hat hier der Spaß!
    <br>
    <br>
    Nähere Informationen hierzu finden sie auf den entsprechenden Seiten.
    <br>
    <br>
    Der Vorstand

  </div>

</div>
