.title {
    margin-top: 2%;
    text-align: center;
}
.table {
    margin: 3%;
    text-align: center;
}
.container {
    padding-bottom: 2%;
}
.Herren1 {
    display: grid;
    justify-content: center;

    gap: 20px;


    grid-template-areas:
     'one one' 
     'two three';
}

#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}

#trainingszeiten, #ansprechpartner {
    border: 3px solid black;
}

