<img class="d-block w-100" src="assets/Volleyball.jpg" alt="Volleyball">

<div class="container">


  <div class="text">
    <h2>Hallo Freunde des Volleyballs,</h2>

    wir sind die Mixed-Volleyball-Mannschaft des TSV Embsen.

    Unsere Altersstruktur ist weit gestreut, genauso wie Erfahrungen und Leistungen.
    Oberste Priorität hat dabei allerdings der Spaß.

    Bei uns sind alle, die Lust haben Volleyball zu spielen, mindestens 16 Jahre alt sind und sich nicht zu schade sind
    beim Training alles zu geben, herzlich willkommen.
    Bei Interesse meldet euch bei uns unter der angegebenen Telefonnummer oder kommt einfach vorbei und macht euch ein
    eigenes Bild. Wir würden gern noch weitere Spieler/innen bei uns aufnehmen.
  </div>


  <div class="title">

    <h2>Treffen: </h2>

  </div>

  <table class="table table-bordered" id="trainingszeiten">

    <thead>
      <tr>
        <th>Wochentag</th>
        <th>Uhrzeit</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>Donnerstag</td>
        <td>20:30 – 22:00 Uhr</td>
      </tr>

    </tbody>

  </table>

  <div class="title">
    <h2>Ansprechpartner: </h2>
  </div>

  <table class="table table-bordered" id="ansprechpartner">


    <tbody>
      <tr>
        <td>Gerhard Grimmelmann | 0 42 02 / 8 18 40</td>
      </tr>
    </tbody>

  </table>

  <div class="title">
    <h2>Wir:</h2>
  </div>

  <div class="Herren1">
    <img id="one" src="assets/VolleyballSpieler.jpg" alt="">
  </div>


</div>
