<img class="d-block w-100" src="assets/turnen-banner-allgemeines.jpg" alt="Turnen">


<div class="container">

  <div class="title">

    <h2>Trainingszeiten: Kinder-Gruppen </h2>

  </div>

  <table class="table table-bordered" id="trainingszeiten">

    <thead>
      <tr>
        <th>Gruppe</th>
        <th>Wochentag</th>
        <th>Uhrzeit</th>
        <th>Übungsleiter</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>Eltern-Kind-Turnen
          Kinder 2 bis 5 Jahre</td>
        <td>Dienstag</td>
        <td>15:30 - 17:00 Uhr</td>
        <td>Katharina Minschke,
          Ivonne Hüneke</td>
      </tr>

      <tr>
        <td>Kinderturnen 5 - 7 Jahre</td>
        <td>Mittwoch</td>
        <td>15:00 - 16:30 Uhr</td>
        <td>Ivonne Hüneke,
          Bente Struß</td>
      </tr>

      <tr>
        <td>Leistungsturnen Liga-Turnen</td>
        <td>Mittwoch</td>
        <td>16:30 - 18:30 Uhr</td>
        <td>Jessica Gerken</td>
      </tr>

      <tr>
        <td>allg. Turnen Grundschüler/innen</td>
        <td>Donnerstag</td>
        <td>16:00 - 18:00 Uhr</td>
        <td>Antje Mindermann <br>
          <small>bis 17.00 Uhr</small></td>
      </tr>

      <tr>
        <td>allg. Turnen weiterführende Schulen <br> + Liga-Turnerinnen</td>
        <td>Donnerstag</td>
        <td>17:00 - 19:00 Uhr</td>
        <td>Jessico Gerken <br>
          <small>Helferinnen in beiden Gruppen:
            Bente Struß + Finja Bruns</small> </td>
      </tr>

      <tr>
        <td>Inliner</td>
        <td>Sonnabend</td>
        <td>13:30 - 15:00 Uhr</td>
        <td>Sven Ristau</td>
      </tr>

      <tr>
        <td>Inliner</td>
        <td>Sonnabend</td>
        <td>15:00 - 16:30 Uhr</td>
        <td>Sven Ristau</td>
      </tr>

      <tr>
        <td>Ligaturnen</td>
        <td>Sonnabend</td>
        <td>10:00 - 12:30 Uhr</td>
        <td>Jessica Gerken</td>
      </tr>

    </tbody>

  </table>


  <div class="title">

    <h2>Trainingszeiten: Erwachsenen-Gruppen </h2>

  </div>

  <table class="table table-bordered" id="trainingszeiten">

    <thead>
      <tr>
        <th>Gruppe</th>
        <th>Wochentag</th>
        <th>Uhrzeit</th>
        <th>Übungsleiter</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>Kraftsport für Männer Ü30</td>
        <td>Dienstag</td>
        <td>19:00 - 20:30 Uhr</td>
        <td>Sven Schmolke,
          Heiner Cordes</td>
      </tr>

      <tr>
        <td>Präventive Wirbelsäulengymnastik</td>
        <td>Mittwoch</td>
        <td>18:30 - 20:00 Uhr</td>
        <td>Mareike Behrmann</td>
      </tr>

      <tr>
        <td>Frauengymnastik</td>
        <td>Mittwoch</td>
        <td>20:00 - 22:00 Uhr</td>
        <td>Antje Mindermann</td>
      </tr>

      <tr>
        <td>Fitness für Frauen</td>
        <td>Donnerstag</td>
        <td>19:00 - 20:30 Uhr</td>
        <td>Margarethe Reinders</td>
      </tr>

      <tr>
        <td>Frühsportgruppe</td>
        <td>Freitag</td>
        <td>10:30 - 11:30 Uhr</td>
        <td>Birgit Knöpfle-Vogelsang</td>
      </tr>

    </tbody>

  </table>



</div>
