
#embsen {
  padding-left: 2%;
  margin-top: 5px;
  font-weight: bold;
  font-size: clamp(30px, 5vw, 48px); 
  font-family: Cambria;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#embsen:hover {
  color: dimgrey;
}

#bild:hover {
  backdrop-filter: brightness(99%);
}
