
<!--Titel vom Sportverein ----------------------------------------------------------->

<div class="title">

  <img id="bild" src="assets/logo%20embsen.png" width="80" height="80" routerLink="/startseite">

  <h1 id="embsen" routerLink="/startseite"> TSV EMBSEN VON 1926 E.V.</h1>

</div>

<!-- Navigationsleiste ----------------------------------------------------------->
<app-navigation></app-navigation>

<!-- geladene Components ----------------------------------------------------------->

<router-outlet></router-outlet>
